# Tanmay Bapu Chavan
# Hamoye HDSC Spring Cohort 
# Stage A - Tag Along Code

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
link = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(link, encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [3]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [4]:
df.shape

(60943, 12)

In [39]:
df.info

<bound method DataFrame.info of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [40]:
df.describe

<bound method NDFrame.describe of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

Question 1
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [30]:
year_2017 = df['Y2017']
mean_2017 = year_2017.mean()
std_dev_2017 = year_2017.std()
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)
print("Mean for the year 2017:", mean_2017_rounded)
print("Standard Deviation for the year 2017:", std_dev_2017_rounded)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

Question 3

Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

In [29]:
selected_columns = df[['Y2017', 'Area']]
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()
seventh_lowest_sum = sum_2017_by_area.sort_values().iloc[6]
areas_with_seventh_lowest_sum = sum_2017_by_area[sum_2017_by_area == seventh_lowest_sum]
print("Areas with the 7th lowest sum in 2017:")
print(areas_with_seventh_lowest_sum)

Areas with the 7th lowest sum in 2017:
Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

Question 4

If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [â€˜Ageâ€™,â€™Nationalityâ€™,â€™Overallâ€™]

How do you create a pandas DataFrame using this list, to look like the table below?

In [5]:
import pandas as pd

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

df1 = pd.DataFrame(lst, columns=col, index = [1,2,3])

df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Question 5

Which year had the least correlation with â€˜Element Codeâ€™?

In [41]:
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()

least_correlated_year = correlations['Element Code'].idxmin()

print("Year with the least correlation with Element Code:", least_correlated_year)

Year with the least correlation with Element Code: Y2016

Question 10

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [27]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
Question 11
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [26]:
missing_data_2014 = df['Y2014'].isna().sum()
total_data_points_2014 = len(df['Y2014'])
percentage_missing_data_2014 = (missing_data_2014 / total_data_points_2014) * 100
print("Total number of missing data in 2014:", missing_data_2014)
print("Percentage of missing data in 2014 (rounded to 3 decimal places): {:.3f}%".format(percentage_missing_data_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014 (rounded to 3 decimal places): 2.607%

Question 12
Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?

In [25]:
stock_variation_df = df[df['Element'] == 'Stock Variation']
yearly_sum_stock_variation = stock_variation_df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
year_with_highest_stock_variation = yearly_sum_stock_variation.idxmax()
print("Year with the highest sum of Stock Variation:", year_with_highest_stock_variation)

Year with the highest sum of Stock Variation: Y2014

Question 14
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [24]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

Question 15
Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

In [23]:
processing_2017_df = df[(df['Element'] == 'Processing') & (df['Y2017'].notna())]

total_processing_2017 = processing_2017_df['Y2017'].sum()

print("Total sum of 'Processing' in 2017:", total_processing_2017)

Total sum of 'Processing' in 2017: 292836.0

Question 16
Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the highest sum in 2017?

In [15]:
selected_columns = df[['Y2017', 'Area']]

area_sum = selected_columns.groupby('Area')['Y2017'].sum()

highest_sum_area = area_sum.idxmax()

print("Area with the highest sum in 2017:", highest_sum_area)

Area with the highest sum in 2017: Nigeria

Question 17

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on â€˜Itemâ€™

In [13]:
wine_production_df = df[(df['Item'] == 'Wine') & (df['Element'] == 'Production')]

item_grouped = wine_production_df.groupby('Item').agg({'Y2015': 'sum', 'Y2018': 'sum'})

print("Total Wine Production in 2015:", item_grouped['Y2015'].sum())
print("Total Wine Production in 2018:", item_grouped['Y2018'].sum())

Total Wine Production in 2015: 1213.0
Total Wine Production in 2018: 1091.0

Question 19

What is the total number of unique countries in the dataset?

In [37]:
unique_countries = df['Area'].nunique()
print("Total number of unique countries:", unique_countries)

Total number of unique countries: 49

Question 20

What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

In [38]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'